.paddle {
    width: 25px;
    height: 100px;
    background-color: rebeccapurple;
    border-radius: 4px;
    /* Positioning */

    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);

  }
  
.paddle.player2 {
 
  background-color: salmon;
  /* Positioning */

  position: absolute;
  left: auto;
  right: 10px;
  top: 50%;
  /* position along the Y axis of a coordinate plane, ensure that the container position is set to relative to keep paddles within the bounds ???? */
  transform: translateY(-50%);
  
}